// global styles changing bulma variables

// Importing google fonts
@import url( 'https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900');

$family-sans-serif: "Nunito", Sans-serif;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html, body {
  height: 100%;
}

html{
  overflow-y: auto !important;
}